body{
    background-color: teal;
    color: white;
}

.close{
    display: none;
}
.a{
    display: none;
}
.q2{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
.show .a{
    display: block;
}
.show .close{
    display: block;
}
.show .enter{
    display: none;
}
.a{
    padding: 0 30px;
}