body{
    background-color: teal;
    color: white;
}
.ch{
    text-align: center;
    margin: 5rem 0;
}
.chi{
    display: flex;
    justify-content: space-evenly;
}
.btn{
    width: 100px;height: 50px;
    cursor: pointer;
    color: teal;
}